<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    {{range .Stylesheets}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}
    <script src="lib/jquery.min.js"></script>
    <script src="lib/js-class.min.js"></script>
    <script src="lib/chart.min.js"></script>
    <script src="index.js"></script>
    <script src="objects.js"></script>
    <script src="modules/corner.js"></script>
    <script src="modules/label.js"></script>
    <script src="modules/image.js"></script>
    <script src="modules/dot.js"></script>
    <script src="modules/camera.js"></script>
    <script src="modules/chart.js"></script>
    <script src="modules/joystick.js"></script>
    {{range .Scripts}}
    <script src="{{.}}"></script>
    {{end}}
</head>

<body>
<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand">{{.Title}}</a>
    </div>
</nav>

<div id="connecting"><span>Connecting ...</span></div>

<div id="content">
    <div id="world"></div>
</div>
</body>
</html>
